Question/Goal: Is there a relationship between anxiety and the motivation for gaming?
For example: 
- Do people that typically play games to win have more anxiety and why? If they do have more anxiety, it would be worth looking into their lifestyle and whether they play games for income
- Do people that play for fun have less anxiety? If so, it would be worth looking into whether games acting as a destressor lessen anxiety, or maybe those with less anxiety have the capacity to play games for fun instead. Could also look into if people with anxiety can benefit from playing games to decompress.

In [1]:
#import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [2]:
#reference file path
data = Path("../data_cleanup/Gaming.csv")

#import data into dataframe
oggame_df = pd.read_csv(data, encoding="UTF-8")

oggame_df.head()

,Unnamed: 0,Entry,Gender,Age,Residence,Birthplace,Work,Degree,Game,Hours per Week,...,SPIN9,SPIN10,SPIN11,SPIN12,SPIN13,SPIN14,SPIN15,SPIN16,SPIN17,SPIN Total
0,0,1,Male,25,USA,USA,Unemployed / between jobs,Bachelor (or equivalent),Skyrim,15,...,0,0,0,0,0,1,0,1,0,5
1,1,2,Male,41,USA,USA,Unemployed / between jobs,Bachelor (or equivalent),Other,8,...,4,0,3,0,1,3,3,1,2,33
2,2,3,Female,32,DEU,DEU,Employed,Bachelor (or equivalent),Other,0,...,0,1,1,3,0,2,4,4,2,31
3,3,4,Male,28,USA,USA,Employed,Bachelor (or equivalent),Other,20,...,0,0,1,3,0,0,1,0,0,11
4,4,5,Male,19,KOR,USA,Employed,High school diploma (or equivalent),Other,20,...,2,0,1,0,0,0,0,3,0,13

In [4]:
#check columns for dropping
oggame_df.columns

Index(['Unnamed: 0', 'Entry', 'Gender', 'Age', 'Residence', 'Birthplace',
       'Work', 'Degree', 'Game', 'Hours per Week', 'Gaming Motivation',
       'Playstyle', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6', 'GAD7',
       'GAD Total', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'SWL Total',
       'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6', 'SPIN7', 'SPIN8',
       'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13', 'SPIN14', 'SPIN15',
       'SPIN16', 'SPIN17', 'SPIN Total'],
      dtype='object')

In [5]:
#drop unused columns
dropoggame_df = oggame_df.drop(columns= ['Unnamed: 0', 'Gender', 'Age', 'Residence', 'Birthplace',
       'Work', 'Degree', 'Game', 'Hours per Week', 'Playstyle', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'SWL Total',
       'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6', 'SPIN7', 'SPIN8',
       'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13', 'SPIN14', 'SPIN15',
       'SPIN16', 'SPIN17', 'SPIN Total'])

dropoggame_df

,Entry,Gaming Motivation,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GAD Total
0,1,having fun,0,0,0,0,1,0,0,1
1,2,having fun,1,2,2,2,0,1,0,8
2,3,having fun,0,2,2,0,0,3,1,8
3,4,improving,0,0,0,0,0,0,0,0
4,5,having fun,2,1,2,2,2,3,2,14
...,...,...,...,...,...,...,...,...,...,...
11133,14246,improving,1,0,0,1,0,1,1,4
11134,14247,winning,3,3,3,3,2,3,3,20
11135,14248,having fun,0,0,0,0,0,0,0,0
11136,14249,having fun,3,2,1,3,0,1,3,13
11137,14250,improving,1,1,0,0,0,0,0,2

In [ ]:
#creating main gaming motivation dataframe with only four responses (improving, winning, having fun, relaxing)
simple_gm_df =

In [ ]:
#creating mixed gaming motivation dataframe with mixed answers skewed more towards winning or having fun/relaxing (winning + having fun/relaxing + improving= winningMX, winning + improving, having fun/relaxing + improving + winning= HFMX)
mixed_gm_df =